@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.btn_brand{
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  color: #fff;
  background-color: #151371;
}
.btn_brand:hover{
  color: #151371;
  font-weight: bold;
  font-size: 20px;
  background-color:#fff ;
}