.activity-design{
    border : 1px solid silver;
    border-radius: 10px;
    height :180px;
   background:  linear-gradient(110.62deg, rgba(255, 255, 255, 0.25) 6.39%, rgba(255, 255, 255, 0) 53.34%);
    mix-blend-mode: normal;
    backdrop-filter: blur(40px);
    border-radius: 12px;
    margin : 15px;
    padding : 5px
}
.btn-course-progress{
background-color: green;
float: right;
width : 70px;
font-size: 8px;
border-radius: 6px;
height : 18px;
color: white;
}
.activity-holder{
    margin-top: 30px;
    background-color: #151371;
}

.activity-container{
    padding: 40px;
    margin-top: 60px;
    color : white;
    display: flex;
    justify-content: space-around;
}
.image-progress{
    max-width : 320px;
    height: 4px;
    margin-top:15px;
}