.progress-header-container{
    height: 400px;
}
.progress-container{
    background-color: #151371;
    padding: 50px;
    height: 650px;
}
.progress-head-period{
    color: white;
    text-align: left;
    margin: 30px;
}
.tutorial-link{
text-decoration: none;
}
.tutorial-container{
    border : 1px solid white;
    padding: 20px;
    border-radius: 10px;
    background-color: #151371;
}
.btn-tutorial-progress{
    background-color: blue;
    width : 70px;
    font-size: 8px;
    border-radius: 6px;
    height : 18px;
    color: white;
    border : 1px red solid;
}
.text-display{
    color: white;
    text-align: justify;
}